.logo {
  height: 40px;
  width: auto;
  margin-right: 10px;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #f0f0f0; /* text color */
}

.navbar {
  background: linear-gradient(45deg, #1d1d1d, #333);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar-nav .nav-link {
  font-size: 18px;
  padding: 10px 15px;
  color: #f8f9fa; /* Lighter text for better contrast */
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover effects for dropdown */
.nav-item.dropdown:hover .dropdown-menu {
  display: block; /* Show dropdown on hover */
}

.navbar-nav .nav-link:hover,
.navbar-nav .dropdown-menu a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 5px;
}

.dropdown-menu {
  background-color: #343a40;
  border: none;
}

.dropdown-menu .dropdown-item {
  color: #f8f9fa;
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggler {
  border-color: #f8f9fa;
}

.navbar-toggler-icon {
  background-color: #f8f9fa;
}

.navbar-collapse {
  justify-content: flex-end;
}
