<h1>List of Packages</h1>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Weight</th>
        <th>Destination</th>
        <th>Created At</th>
        <th>Is Allocated</th>
        <th>Driver ID</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>123456</td>
        <td>Package A</td>
        <td>10 kg</td>
        <td>New York</td>
        <td>2024-10-11 10:45 AM</td>
        <td>Yes</td>
        <td>ABC123</td>
      </tr>
      <tr>
        <td>654321</td>
        <td>Package B</td>
        <td>15 kg</td>
        <td>San Francisco</td>
        <td>2024-10-10 2:30 PM</td>
        <td>No</td>
        <td>XYZ987</td>
      </tr>
    </tbody>
  </table>
</div>

<p><a routerLink="/">Go back to Home</a></p>
