<h1>List of Packages</h1>

<div *ngIf="loading">Loading packages...</div>

<div *ngIf="error" class="error-message">{{ error }}</div>

<div *ngIf="!loading && !error" class="table-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Destination</th>
        <th>Weight (kg)</th>
        <th>Allocated</th>
        <th>Driver ID</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let package of packages">
        <td>{{ package.package_id }}</td>
        <td>{{ package.package_title }}</td>
        <td>{{ package.package_destination }}</td>
        <td>{{ package.package_weight }}</td>
        <td>{{ package.isAllocated ? "Yes" : "No" }}</td>
        <td>{{ package.driver_id }}</td>
      </tr>
    </tbody>
  </table>
</div>

<p><a routerLink="/">Go back to Home</a></p>
