<div class="form-container">
  <h1>Add a New Package</h1>

  <form (ngSubmit)="onSubmit()">
    <!-- Package Title Input -->
    <div class="form-group">
      <label for="package_title">Title:</label>
      <input
        type="text"
        id="package_title"
        name="package_title"
        [(ngModel)]="package.package_title"
        minlength="3"
        maxlength="15"
        placeholder="Enter package title"
        required
      />
    </div>

    <!-- Package Weight Input -->
    <div class="form-group">
      <label for="package_weight">Weight:</label>
      <input
        type="number"
        id="package_weight"
        name="package_weight"
        [(ngModel)]="package.package_weight"
        min="1"
        placeholder="Enter package weight"
        required
      />
    </div>

    <!-- Package Destination Input -->
    <div class="form-group">
      <label for="package_destination">Destination:</label>
      <input
        type="text"
        id="package_destination"
        name="package_destination"
        [(ngModel)]="package.package_destination"
        minlength="5"
        maxlength="15"
        pattern="^[A-Za-z0-9]{5,15}$"
        placeholder="Enter destination"
        required
      />
    </div>

    <!-- Description Input -->
    <div class="form-group">
      <label for="description">Description:</label>
      <input
        type="text"
        id="description"
        name="description"
        [(ngModel)]="package.description"
        maxlength="30"
        placeholder="Enter description (optional)"
      />
    </div>

    <!-- Is Allocated Checkbox -->
    <div class="form-group">
      <label for="isAllocated">Is Allocated:</label>
      <label class="switch">
        <input
          type="checkbox"
          id="isAllocated"
          name="isAllocated"
          [(ngModel)]="package.isAllocated"
        />
        <span class="slider"></span>
      </label>
    </div>

    <!-- Driver ID Input -->
    <div class="form-group">
      <label for="driver_select">Select Driver to Delete:</label>
      <select
        id="driver_select"
        [(ngModel)]="selectedDriverId"
        name="selectedDriver"
        required
      >
        <option value="">Select a driver</option>
        <option *ngFor="let driver of drivers" [value]="driver._id">
          {{ driver.driver_name }} ({{ driver.driver_id }})
        </option>
      </select>
    </div>

    <!-- Submit Button -->
    <button type="submit">Add Package</button>
  </form>

  <div *ngIf="message" [ngClass]="{ success: isSuccess, error: !isSuccess }">
    {{ message }}
  </div>
</div>
